<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">

          <a class="navbar-brand" href="#">SOPS</a>

       </div>

       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav">
              <li><a routerLink="/table-list">Tables</a></li>
              <li><a routerLink='/category-list'>Category</a></li>
              <li><a routerLink="/menu-list">Menu</a></li>
              <li><a routerLink="/admin-user">User list</a></li>
              <li><a routerLink="/order-list">Orders</a></li>
              <li><a routerLink="/payment-list">Payment history</a></li>
              <li><a routerLink="/admin-users">separator</a></li>
          


            </ul>
       </div>

      </div>
</nav>

<h1>Add MenuList</h1>
<div class='col-md-12'>

<div class="col-md-6">
    <div class="form-group">
      <label for="">Category</label>
      <select [(ngModel)]="category_id" class="form-control">
        <option
          *ngFor="let category of categories"
          [value]="category.category_id">{{category.category_name}}</option>
      </select>
    </div>
  </div>



<div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Menu Name</label>
        <input [(ngModel)]="menu_name" type="text" class="form-control">
      </div>
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="">price</label>
            <input [(ngModel)]="price" rows="text" class="form-control">
          </div>
        </div>
      </div>

    <div class="row">
        <div class="col-md-12">
            <button (click)=onAddMenu() class="btn btn-success">Add Product</button>
            <a style="margin-left: 10px;" routerLink="/menu-list" class="btn btn-danger">Cancel</a>
        </div>
    </div>
</div>
