

<div class="container">
  <div class="row">
      <div class="col-md-12">
          <router-outlet></router-outlet>
      </div>
   </div>

</div>



<!DOCTYPE html>
<html lang="en">
<head>

  <title>Bootstrap Theme The Band</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">


<div id="band" class="container text-center">
  <h3>CoachingFunda.com</h3>
  <p><em>We deliver promises</em></p>
  <p>Technology is the platform for the young developers. Your ideas will inspire people share your views and ideas with coachingfunda we will try to connect with you. We value your openion.</p>
  <br>

</div>


<footer class="text-center">
  <div id="contact" class="container">
    <h3 class="text-center">Contact Us</h3>
    <p class="text-center"><em>We love to here new ideas...</em></p>

    <div class="row">
      <div class="col-md-4">
        <p>Creator? Drop a idea here.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>Hinjewadi Phase1, Pune</p>
        <p><span class="glyphicon glyphicon-phone"></span>Phone: 9096125246</p>
        <p><span class="glyphicon glyphicon-envelope"></span>Email: prasad.p.bhise@gmail.com</p>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="Share Idea's" placeholder="idea to share" rows="6"></textarea>
        <br>
        <div class="row">
          <div class="col-md-12 form-group">
            <button class="btn pull-right" type="submit">Share</button>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="http://www.coachingfunda.com/"> coachingfunda.com</a>
  </div>
</footer>

</body>
</html>
